	<!-- Sentimentalizer -->
	<!-- Sentimentilizer.analyze(string) -->


	<!-- SAD PANDA -->
  <%  @review_string = @review.review %>
   
    <% @sentiment_state = JSON.parse(Sentimentalizer.analyze(@review_string)) %>

	    <% @sentiment_state["probability"] %> 
	    <% @sentiment_state["sentiment"] %>
      <% @review_sentiment  %>
	    <% @review_polarity  %>
	    <% @review_emotion %>

    
    <div class="large8 columns panel">
      <h1 style="text-align:center"> Review : <%= @review.review %>  </h1><hr>
        <pre>
          <h6 style="font-size:16px;">Review Probability:<%= @sentiment_state["probability"] %></h6>
          <h6 style="font-size:16px;">Review Sentiment: <%= @sentiment_state["sentiment"] %></h6>
          <h6 style="font-size:16px;">Emotions: <%= @review_emotion %></h6>
          <h6 style="font-size:16px;">Review Polarity: <%= @review_polarity %></h6>
        </pre>
    </div>
    <hr>
	    <%= link_to 'Edit', edit_review_path(@review), :class => "button redius" %> 
	    <%= link_to 'Back', reviews_path, :class => "button redius"  %>
    <hr>	
 
