<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Data Analytics" %></title>
     <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  </head>

  <body>
  
  <!-- Nav and Banner -->
  <div  class="row page-wrap">
    <div class="large-12 columns">

      <div class="row">
       <!-- Navigation -->
        <div class="large-12 columns">
            <nav class="top-bar" data-topbar >

              <ul class="title-area">
                <!-- Title Area -->
                <li class="name">
                  
                </li>
                <li class="toggle-topbar menu-icon">
                  <a href="#"><span>menu</span></a>
                </li>
              </ul>

     
              <section class="top-bar-section">
                <ul class="left">
                  <li class="divider"></li>
                    <li>
                      <h3>
                          <%= link_to "Data Analytics", root_path %>
                      </h3>
                    </li>
              
                  <li class="divider"></li>
                  <li>
                    <h3 style="font-family:Open Sans,Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;">
                      <%= link_to "Reviews", reviews_path %>
                    </h3>
                  </li>
                 
                  <li class="divider"></li>
                  <li>
                    <h3 style="font-family:Open Sans,Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;">
                      <%= link_to "Comments" %>
                    </h3>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <h3 style="font-family:Open Sans,Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;">
                      <a href="/static/contact">Contact Us</a>
                    </h3>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <h3 style="font-family:Open Sans,Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;">
                      <a href="/static/about">About Us</a>
                    </h3>
                  </li>
                </ul>
                
              </section>
            </nav>
            <!-- end Navigation -->
        </div>
      </div>
 
 
  <div class="row">
    <div class="large-12 columns">
 
     <!-- Desktop Slider -->
 
      <div class="hide-for-small">
        <div id="featured">
             <span><p align="center" style="font-size:70px;margin:75px ;font-family: inherit;">Data Analytics</p></span>
          </div>
        </div>
        <!-- End Desktop Slider -->
 
        <!-- Mobile Header -->
        <div class="row">
          <div class="small-12 show-for-small"><br>
            <h3 align="center" style="font-size:30px;margin:50px;">Data Analytics</h3>
          </div>
        </div>
        <!-- End Mobile Header -->
      </div>

  <br>
 

    <div class="large-12 columns">
      <div class="row">
         <div class="large-12 columns" align="center">
          <!-- Thumbnails -->
            <%= yield %>
          <!-- End Thumbnails -->
         </div>
      </div>
    </div>

 
    
    <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr>
      <div class="row">
        <div class="large-12 columns">
          <p align="center">© Copyright Data Analytics.</p>
        </div>
        
      </div>
    </div>
  </footer>
  </div>  

    <%= javascript_include_tag "application" %>
  </body>
</html>




<style type="text/css">
  .page-wrap
     {
        margin: 25px auto;
        border-radius: 3px;
        background: none repeat scroll 0% 0% rgb(255, 255, 255);
        box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
      }
  .top-bar
     {
        background-color: #f8f8f8;
        padding: 10px 0px 2px;
       height: 75px;
       width: 100%;
      }
  .body {
    color: rgb(51, 51, 51);
    font-size: 13px;
    line-height: 18px;
}

 .top-bar {
        height:75px;
      }
      .top-bar .name{
            height:65px;

      }
      .top-bar-section ul{
          background: #fff;
      }
      .top-bar-section ul li a{
          color: #585858;
          font-size: 16px;
      }
      .top-bar-section ul li a:hover{
          color: #73c20e;
      }
      .top-bar .toggle-topbar.menu-icon a:hover{
          background: #fff;
      }
</style>

 